$multi-carousel-item-width: 380px !default;
$multi-carousel-item-gutter: 20px !default;

multi-carousel {
    display: block;
    overflow-x: hidden;
    white-space: nowrap;

    inner {
        display: block;

        &.next,
        &.prev {
            transition: transform .5s ease;
        }

        &.next-add {
            transform: translateX($multi-carousel-item-width + $multi-carousel-item-gutter);

            &.next-add-active {
                transform: translateX(0);
            }
        }

        &.prev-add {
            transform: translateX(($multi-carousel-item-width + $multi-carousel-item-gutter) * -1);

            &.prev-add-active {
                transform: translateX(0);
            }
        }
    }

}

carousel-item {
    display: inline-block;
    width: $multi-carousel-item-width;
    margin-right: $multi-carousel-item-gutter;
}
